* {
  padding: 0;
  margin: 0;
  font-family: 'Cutive Mono', monospace;
}

body {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.row {
  flex: 1 1 auto;
  background: white;
  display: flex;
}

.main-header {
  background: black;
  color: white;
  flex: 0 0 auto;
}

.readable {
  padding-left: 5%;
  text-align: left;
}

.main-footer {
  background: #7BAFD4;
  flex: 0 0 auto;
}

/* Side Menu Elements */

.primary-sidebar {
  background: #62aae5;
  flex: 0 0 auto;
  width: 20%;
}

.side-menu-item {
  width: 100%;
  background: #62aaf0;
  opacity: 0.6;
  margin-top: 10%;
  margin-bottom: 10%;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.side-menu-item:hover {
  font-weight: bolder;
  background: #5690e2;
}

.side-menu-item-active {
  font-weight: bold;
  background: #5690e2;
}

/* End of Side Menu Elements */

.banner {
  margin-top: 25%;
}

.content {
  flex: 1 1 auto;
  min-width: 400px;
}

.jesse-akes {
  position: relative;
}

.centered-img-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: white;
    text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  //display: block;
  margin: auto;
}
